In [251]:
from pymongo import MongoClient
import pprint

client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
db = client["YacsDB"]

In [252]:
class Semester(object):
    
    def __init__(self, json_semester_object):
        self.id = json_semester_object['id'] or -1
        self.name = json_semester_object['name'] or "Null"
        self.date_updated = json_semester_object['date_updated'] or "Null"
        self.date_created = json_semester_object['date_created'] or "Null"
        self.month = json_semester_object['month'] or -1
        self.year = json_semester_object['year'] or -1
        self.sis_ref = json_semester_object['ref'] or "Null"
        self.objectId = json_semester_object['_id'] or "Null" 
        self.departments = []
        self.sections = []
    
    def toDict(self):
        semester = dict()
        semester["id"] = self.id 
        semester["name"] = self.name 
        semester["date_updated"] = self.date_updated 
        semester["date_created"] = self.date_created 
        semester["month"] = self.month 
        semester["year"] = self.year 
        semester["sis_ref"] = self.sis_ref 
        semester["objectId"] = self.objectId 
        return semester
    
    def getSections(self):
        print("Getting sections of semester", self.name)
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        sections_data = db.sections.find({"semester_id": (self.id)})
#         for section in sections_data:
#             pprint.pprint(section)
    
    def getDepartments(self):
        # Find all sections of that semester
        print("Getting department of semester", self.name)
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        allSections = db.sections.find({"semester_id": (self.id)})
        
        # Construct the set of course_id
        allCoursesId = set()
        for section in allSections:
            allCoursesId.add(section["course_id"])
        
        allCoursesId = list(allCoursesId)
        allDepartmentsId = set()
        # Find all courses according to the course number
        for courseId in allCoursesId:
            courses = db.courses.find({"id": courseId})
            for course in courses:
                allDepartmentsId.add(course["department_id"])
        
        # Find and print all department according to the department id
        allDepartmentsId = list(allDepartmentsId)
        for departmentId in allDepartmentsId:
            departments = db.departments.find({"id": departmentId})
            for department in departments:
                self.departments.append(Department(department))

In [263]:
class Department(object):
    
    def __init__(self, json_department_object):
        self.id = json_department_object['id']
        self.code=json_department_object['code']
        self.name = json_department_object['name'] or "Null"
        self.objectId = json_department_object['_id'] or "Null" 
        self.courses=list()
        self.sections=list()
        self.courses_sections=dict()
    
    def toDict(self):
        deparment = dict()
        deparment['id']=self.id
        deparment['name'] = self.name
        deparment['code']=self.code
        deparment['objectId'] = self.objectId
        
    
    def __str__(self):
        print("Department:\n")
        print("Department name: ",self.name)
        print("Department code: ",self.code)
        return("\n")
    
    #courses:[course1,course2,...]
    def getCourses(self):
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        dptkey={"department_id": self.id}
        courses_data=db.courses.find(dptkey)
        for one_course in courses_data:
            CourseObj=Courses(one_course)
            self.courses.append(CourseObj)
        print("total number of courses in ",self.name ," department:",len(self.courses))
    
        #return self.courses
        
        
    
    #sections:[section1,section2,...]
    def getSections(self):
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        dptkey={"department_id": self.id}
        courses_data=db.courses.find(dptkey)
        for one_course in courses_data: 
            
            #print(one_course["name"],one_course["id"])
            course_id=one_course["id"]
            crskey={"course_id":course_id}
            CoursesObjects=db.sections.find(crskey)
            for one_section in CoursesObjects:
                
                #print(one_section["id"])
                SectionObj=Section(one_section)
                self.sections.append(SectionObj)
        print("total number of sections in this department:",len(self.sections))
        #return self.sections
        
    #courses:{course_name:{course_id:[section]}
    def getCoursesSections(self):
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        dptkey={"department_id": self.id}
        courses_data=db.courses.find(dptkey)
        for onecourse in courses_data:
            course_name=onecourse["name"]
            course_id=onecourse["id"]
            crskey={"course_id":course_id}            
            crs_sec=dict()
            crs_sec[course_id]=db.sections.find(crskey)            
            if course_name not in self.courses_sections.keys():
                self.courses_sections[course_name]=crs_sec                
            else:
                self.courses_sections[course_name].update(crs_sec)
        print("actual number of courses: ",len(self.courses_sections))
        #return courses_sections

In [264]:
class Courses(object):
    
    def __init__(self, json_course_object):
        # Basic information for a course obejct
        self.id = json_course_object['id'] or -1
        self.objectId = json_course_object['_id'] or "Null" 
        self.name = json_course_object['name'] or "Null"
        self.number = json_course_object['number'] or "Null"
        self.description = json_course_object['description'] or "Null"
        self.is_comm_intense = json_course_object['is_comm_intense'] or False
        self.min_credits = json_course_object['min_credits'] or 0
        self.max_credits = json_course_object['max_credits'] or 0
        self.grade_type = json_course_object['grade_type'] or "Null"
        self.prereqs = json_course_object['prereqs'] or "Null"
        self.department_id = json_course_object['department_id'] or "Null"
        # Fields need to be populated when the basic information
        self.sections = []
        self.department = None
        
    def __str__():
        print("Course:", self.name)
        return("\n")
    
    def getDepartment(self):
        return("TODO: get the department of this course")
    
    def getSections(self):
        # Get sections for this course 
        client = MongoClient('mongodb://yacsBI:yacsBIpass@mongo_db:27017/YacsDB')
        db = client["YacsDB"]
        allSections = db.sections.find({"course_id": (self.id)})
        for section in allSections:
            self.sections.append(Section(section))

In [265]:
class Section(object):
    
    def __init__(self, json_section_object):
        self.id = json_section_object['id']
        self.objectId = json_section_object['_id'] or "Null" 
        self.course_id=json_section_object['course_id']
        self.seats_total = json_section_object['seats_total'] or "Null"
        self.crosslisted_id = json_section_object['crosslisted_id'] or "Null"
        self.semester_id=json_section_object['semester_id'] or "Null"
        self.notes = json_section_object['notes'] or "Null"
        self.section_times = json_section_object['section_times'] or "Null"
        self.crn = json_section_object['crn'] or "Null"
        self.number = json_section_object['number'] or "Null"
        self.seats_taken = json_section_object['seats_taken'] or "Null"
    
    def __str__(self):
        print("Section:\n")
        print("Section id: ",self.id) 
        #print("Section course_id: ",self.course_id)    
        return("\n")

In [266]:
departments_data = db.departments.find()
department_lst = list()

for current_department in departments_data:
    #print("A department")
    one_department = Department(current_department)
    
        
    pprint.pprint(current_department)
    one_department.getCourses()
    one_department.getSections()
    one_department.getCoursesSections()
    
    #one_department.displayDepartment()
    #one_department.DepartmentAllNums()
    #if(current_department["id"]==140):
    #    one_department.getSections()
    #    one_department.checkCourseByName("Data Structures")
    print("---------------------------------------------------------------")
    department_lst.append(one_department)

{'_id': ObjectId('5a7a1a7341957245137d8db6'),
 'code': 'ADMN',
 'id': 170,
 'name': 'Administration'}
total number of courses in  Administration  department: 72
total number of sections in this department: 43
actual number of courses:  18
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8db7'),
 'code': 'ARCH',
 'id': 137,
 'name': 'Architecture'}
total number of courses in  Architecture  department: 851
total number of sections in this department: 779
actual number of courses:  275
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8db8'),
 'code': 'ARTS',
 'id': 136,
 'name': 'Arts'}
total number of courses in  Arts  department: 750
total number of sections in this department: 616
actual number of courses:  153
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8db9'),
 'code': 'ASTR',
 'id': 165,
 'name': 'Astronomy'}
total number of courses in  Astronomy  department: 137
total number of sections in this department: 68
actual number of courses:  19
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dba'),
 'code': 'BCBP',
 'id': 149,
 'name': 'Biochemistry and Biophysics'}
total number of courses in  Biochemistry and Biophysics  department: 177
total number of sections in this department: 79
actual number of courses:  21
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dbb'),
 'code': 'BIOL',
 'id': 135,
 'name': 'Biology'}
total number of courses in  Biology  department: 498
total number of sections in this department: 420
actual number of courses:  90
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dbc'),
 'code': 'BMED',
 'id': 148,
 'name': 'Biomedical Engineering'}
total number of courses in  Biomedical Engineering  department: 372
total number of sections in this department: 261
actual number of courses:  62
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dbd'),
 'code': 'CHEM',
 'id': 152,
 'name': 'Chemistry'}
total number of courses in  Chemistry  department: 444
total number of sections in this department: 427
actual number of courses:  85
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dbe'),
 'code': 'CHME',
 'id': 163,
 'name': 'Chemical Engineering'}
total number of courses in  Chemical Engineering  department: 333
total number of sections in this department: 193
actual number of courses:  63
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dbf'),
 'code': 'CIVL',
 'id': 134,
 'name': 'Civil Engineering'}
total number of courses in  Civil Engineering  department: 373
total number of sections in this department: 287
actual number of courses:  76
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc0'),
 'code': 'COGS',
 'id': 157,
 'name': 'Cognitive Science'}
total number of courses in  Cognitive Science  department: 340
total number of sections in this department: 213
actual number of courses:  97
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc1'),
 'code': 'COMM',
 'id': 145,
 'name': 'Communication'}
total number of courses in  Communication  department: 450
total number of sections in this department: 350
actual number of courses:  100
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc2'),
 'code': 'COOP',
 'id': 174,
 'name': 'Cooperative Education'}
total number of courses in  Cooperative Education  department: 7
total number of sections in this department: 0
actual number of courses:  2
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc3'),
 'code': 'CSCI',
 'id': 140,
 'name': 'Computer Science'}
total number of courses in  Computer Science  department: 897
total number of sections in this department: 1023
actual number of courses:  185
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc4'),
 'code': 'ECON',
 'id': 141,
 'name': 'Economics'}
total number of courses in  Economics  department: 290
total number of sections in this department: 226
actual number of courses:  60
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc5'),
 'code': 'ECSE',
 'id': 142,
 'name': 'Electrical, Computer, and Systems Engineering'}
total number of courses in  Electrical, Computer, and Systems Engineering  department: 689
total number of sections in this department: 594
actual number of courses:  147
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc6'),
 'code': 'ENGR',
 'id': 144,
 'name': 'General Engineering'}
total number of courses in  General Engineering  department: 337
total number of sections in this department: 992
actual number of courses:  41
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc7'),
 'code': 'ENVE',
 'id': 158,
 'name': 'Environmental Engineering'}
total number of courses in  Environmental Engineering  department: 204
total number of sections in this department: 91
actual number of courses:  34
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc8'),
 'code': 'EPOW',
 'id': 172,
 'name': 'Electrical, Computer, and Systems Engineering'}
total number of courses in  Electrical, Computer, and Systems Engineering  department: 28
total number of sections in this department: 0
actual number of courses:  6
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dc9'),
 'code': 'ERTH',
 'id': 168,
 'name': 'Earth and Environmental Sciences'}
total number of courses in  Earth and Environmental Sciences  department: 239
total number of sections in this department: 149
actual number of courses:  48
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dca'),
 'code': 'ESCI',
 'id': 171,
 'name': 'Engineering Science'}
total number of courses in  Engineering Science  department: 17
total number of sections in this department: 0
actual number of courses:  1
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dcb'),
 'code': 'EXCH',
 'id': 173,
 'name': 'Exchange (Study Abroad)'}
total number of courses in  Exchange (Study Abroad)  department: 1
total number of sections in this department: 0
actual number of courses:  1
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dcc'),
 'code': 'IENV',
 'id': 175,
 'name': 'Interdisciplinary Environmental'}
total number of courses in  Interdisciplinary Environmental  department: 11
total number of sections in this department: 9
actual number of courses:  2
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dcd'),
 'code': 'IHSS',
 'id': 161,
 'name': 'Interdisciplinary Studies'}
total number of courses in  Interdisciplinary Studies  department: 99
total number of sections in this department: 110
actual number of courses:  51
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dce'),
 'code': 'ISCI',
 'id': 164,
 'name': 'Interdisciplinary Science'}
total number of courses in  Interdisciplinary Science  department: 37
total number of sections in this department: 11
actual number of courses:  5
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dcf'),
 'code': 'ISYE',
 'id': 153,
 'name': 'Industrial and Systems Engineering'}
total number of courses in  Industrial and Systems Engineering  department: 333
total number of sections in this department: 249
actual number of courses:  62
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd0'),
 'code': 'ITWS',
 'id': 155,
 'name': 'Information Technology and Web Science'}
total number of courses in  Information Technology and Web Science  department: 224

total number of sections in this department: 144
actual number of courses:  39
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd1'),
 'code': 'LANG',
 'id': 176,
 'name': 'Foreign Languages'}
total number of courses in  Foreign Languages  department: 23
total number of sections in this department: 27
actual number of courses:  6
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd2'),
 'code': 'LGHT',
 'id': 139,
 'name': 'Lighting'}
total number of courses in  Lighting  department: 103
total number of sections in this department: 45
actual number of courses:  15
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd3'),
 'code': 'LITR',
 'id': 154,
 'name': 'Literature'}
total number of courses in  Literature  department: 71
total number of sections in this department: 50
actual number of courses:  12
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd4'),
 'code': 'MANE',
 'id': 143,
 'name': 'Mechanical, Aerospace, and Nuclear Engineering'}
total number of courses in  Mechanical, Aerospace, and Nuclear Engineering  department: 776
total number of sections in this department: 816
actual number of courses:  196
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd5'),
 'code': 'MATH',
 'id': 151,
 'name': 'Mathematics'}
total number of courses in  Mathematics  department: 446
total number of sections in this department: 1217
actual number of courses:  88
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd6'),
 'code': 'MATP',
 'id': 138,
 'name': 'Mathematical Programming, Probability, and Statistics'}
total number of courses in  Mathematical Programming, Probability, and Statistics  department: 73
total number of sections in this department: 39
actual number of courses:  9
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd7'),
 'code': 'MGMT',
 'id': 160,
 'name': 'Management'}
total number of courses in  Management  department: 995
total number of sections in this department: 951
actual number of courses:  214
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd8'),
 'code': 'MTLE',
 'id': 150,
 'name': 'Materials Science and Engineering'}
total number of courses in  Materials Science and Engineering  department: 297
total number of sections in this department: 241
actual number of courses:  57
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dd9'),
 'code': 'PHIL',
 'id': 156,
 'name': 'Philosophy'}
total number of courses in  Philosophy  department: 172
total number of sections in this department: 120
actual number of courses:  46
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dda'),
 'code': 'PHYS',
 'id': 133,
 'name': 'Physics'}
total number of courses in  Physics  department: 370
total number of sections in this department: 407
actual number of courses:  76
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8ddb'),
 'code': 'PSYC',
 'id': 162,
 'name': 'Psychology'}
total number of courses in  Psychology  department: 361
total number of sections in this department: 289
actual number of courses:  84
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8ddc'),
 'code': 'STSH',
 'id': 146,
 'name': 'Science and Technology Studies (Humanities Courses)'}
total number of courses in  Science and Technology Studies (Humanities Courses)  department: 207
total number of sections in this department: 136
actual number of courses:  60
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8ddd'),
 'code': 'STSS',
 'id': 147,
 'name': 'Science and Technology Studies (Social Sciences Courses)'}
total number of courses in  Science and Technology Studies (Social Sciences Courses)  department: 410
total number of sections in this department: 287
actual number of courses:  137
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8dde'),
 'code': 'USAF',
 'id': 169,
 'name': 'Aerospace Studies (Air Force ROTC)'}
total number of courses in  Aerospace Studies (Air Force ROTC)  department: 118
total number of sections in this department: 99
actual number of courses:  11
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8ddf'),
 'code': 'USAR',
 'id': 167,
 'name': 'Military Science (Army ROTC)'}
total number of courses in  Military Science (Army ROTC)  department: 105
total number of sections in this department: 88
actual number of courses:  23
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8de0'),
 'code': 'USNA',
 'id': 166,
 'name': 'Naval Science (Navy ROTC)'}
total number of courses in  Naval Science (Navy ROTC)  department: 112
total number of sections in this department: 132
actual number of courses:  12
---------------------------------------------------------------
{'_id': ObjectId('5a7a1a7341957245137d8de1'),
 'code': 'WRIT',
 'id': 159,
 'name': 'Writing'}
total number of courses in  Writing  department: 106
total number of sections in this department: 117
actual number of courses:  21
---------------------------------------------------------------

In [267]:
# Get all semesters and 
semesters_data = db.semesters.find()
semesters = []
for current_semester in semesters_data:
#     print("New semester")
    one_semester = Semester(current_semester)
#     pprint.pprint(current_semester)
    semesters.append(one_semester)

In [268]:
fall16 = semesters[1]

In [270]:
semesters[3].getDepartments()

Getting department of semester Fall 2015

In [271]:
for d in semesters[3].departments:
    d.getCourses()

total number of courses in  Physics  department: 370
total number of courses in  Civil Engineering  department: 373
total number of courses in  Biology  department: 498
total number of courses in  Arts  department: 750
total number of courses in  Architecture  department: 851
total number of courses in  Mathematical Programming, Probability, and Statistics  department: 73
total number of courses in  Lighting  department: 103
total number of courses in  Computer Science  department: 897
total number of courses in  Economics  department: 290
total number of courses in  Electrical, Computer, and Systems Engineering  department: 689
total number of courses in  Mechanical, Aerospace, and Nuclear Engineering  department: 776
total number of courses in  General Engineering  department: 337
total number of courses in  Communication  department: 450
total number of courses in  Science and Technology Studies (Humanities Courses)  department: 207
total number of courses in  Science and Technology Studies (Social Sciences Courses)  department: 410
total number of courses in  Biomedical Engineering  department: 372
total number of courses in  Biochemistry and Biophysics  department: 177
total number of courses in  Materials Science and Engineering  department: 297
total number of courses in  Mathematics  department: 446
total number of courses in  Chemistry  department: 444
total number of courses in  Industrial and Systems Engineering  department: 333
total number of courses in  Literature  department: 71
total number of courses in  Information Technology and Web Science  department: 224
total number of courses in  Philosophy  department: 172
total number of courses in  Cognitive Science  department: 340
total number of courses in  Environmental Engineering  department: 204
total number of courses in  Writing  department: 106
total number of courses in  Management  department: 995
total number of courses in  Interdisciplinary Studies  department: 99
total number of courses in  Psychology  department: 361
total number of courses in  Chemical Engineering  department: 333
total number of courses in  Interdisciplinary Science  department: 37
total number of courses in  Astronomy  department: 137
total number of courses in  Naval Science (Navy ROTC)  department: 112
total number of courses in  Military Science (Army ROTC)  department: 105
total number of courses in  Earth and Environmental Sciences  department: 239
total number of courses in  Aerospace Studies (Air Force ROTC)  department: 118
total number of courses in  Administration  department: 72
total number of courses in  Foreign Languages  department: 23